::-webkit-scrollbar{width: 10px; height: 10px; background: #9e9e9e; -webkit-border-radius: 1ex;  -moz-border-radius: 2px 2px 2px 2px;}
::-webkit-scrollbar-button       { background: #dadada; -webkit-border-radius: 1ex; }
::-webkit-scrollbar-track        { background: #000000;-webkit-border-radius: 1ex; }
::-webkit-scrollbar-track-piece  { background: #fff; -webkit-border-radius: 1ex; }
::-webkit-scrollbar-thumb        { background: #E7EBED; -webkit-border-radius: 1ex; }
::-webkit-scrollbar-corner       { background: #000000; -webkit-border-radius: 1ex; }
::-webkit-resizer  {background: #fefefe; }
body{margin: 0px; background: #fff; }

#bono{
display:none;
position:absolute;
left:10%;
top:2%;
z-index:10;
width:80%;
font-size:12px;
}




#observacion{
	display:none;
	position:absolute;
	right:12%;
	top:10%;
	border:1px #eee solid;
	background: white;
	border-radius:6px;
	padding:4px;
	width:45%;
	height:310px;
	color:#000;
	font-family:"Comic Sans MS";
	overflow-x:auto;
}

#datos_afiliacion{
	position:fixed;
	z-index:10009;
	display:none;
	width:60%;
	height:80%;
	top:5%;
	left:20%;
	border:1px grey solid;
	background:#fff;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	text-align:center;
}

#cortina_nav{
	position:fixed;
	z-index:1000001;
	display:none;
	width:100%;
	height:100%;
	top:0%;
	left:0%;
	background:#efefef;

}
#navegador{
	position:fixed;
	z-index:1000002;
	display:none;
	width:60%;
	height:55%;
	top:10%;
	left:20%;
	border:1px grey solid;
	background:#fff;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	text-align:center;
}

.efeboton{background:#fff; padding-left:4px; border-radius:6px; border:1px #181917 solid; cursor:pointer;}
.efeboton:hover{background:#E2C030; border-radius:6px; border:1px #fff solid;}
.ebotonimagen{border-radius:5px; padding-left:4px;}

.redess{
	position:fixed;
	top:25%;
	right:0%;
	z-index:10000;
	text-align:right;
}

.posicion{
	position:absolute;
	padding:8px;
}


.r1, .r2, .r3{
	margin:0px;
	position:fixed;
	right:-95px;
font-family:"Courier New","agency fb", arial;
text-shadow: 2px 1px 6px #000;
font-weight:bold;
transition:3s;
}
.r1{top:50%; width:130px; height:35px; text-align:left;}
.r2{top:57%; width:130px; height:35px; text-align:left;}
.r3{top:64%; width:130px; height:35px; text-align:left;}

.r1:hover, .r2:hover, .r3:hover{
	background:#fff;
	position:fixed;
	transition:1s;
	right:-3px;
	box-shadow:1px 2px 13px  #000;
	border-radius:6px;
}


#ventana_reporte{
display:none;
position: absolute;
left:5%;
top:5%;
width:90%;
height:90%;
background:#fff;
z-index:10001;
}
#vista_reporte{
width:100%;
background:#efefef;
overflow-x:hidden;
overflow-y:auto;
height:400px;
}



#lista{
margin-left:20px;
width:43%;
position:absolute;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
display:none;
}



#listasorteo{

overflow-x:hidden;
overflow-y:auto;
font-family: "arial", "tahoma";
font-size:10px;
text-align:left;
position:absolute;
float:bottom;
background:#fff;
width:80%;
height:200px;
display:none;
cursor:default;
color:#DED05E;
border-left:1px #efefef solid;
border-right:1px #efefef solid;
border-bottom:1px #DED05E solid;
box-shadow:2px 3px 4px black;
}

.celdasorteo:hover{
font-style:italic;
}

#getioncom{
position:fixed;
z-index:10000;
left:10%;
top:5%;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
display:none;
width:80%;
}

#getionmcom{
position:fixed;
z-index:10000;
left:20%;
top:5%;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
display:none;

}


.miefecto {
	transition: 2.5s ease;
 	-moz-transition: 2.5s ease; /* Firefox */
 	-webkit-transition: 2.5s ease; /* Chrome - Safari */
 	-o-transition: 2.5s ease; /* Opera */
	text-align:center;
}
 
.miefecto:hover {
	opacity:.6;
	border-radius:120px;
	transform : rotate(360deg);
	-moz-transform : rotate(360deg); /* Firefox */
	-webkit-transform : rotate(360deg); /* Chrome - Safari */
	-o-transform : rotate(360deg); /* Opera */
}



#misbancos{
	position:absolute;
	left:10%;
	top:5%;
	width:80%;
	z-index:10002;
	background:#fff;
	border:1px #eee solid; 
	border-radius:5px;
	display:none;
}


#subir{
	position:fixed;
	left:45%;
	top:40%;
	width:120px;
	height:70px;
	z-index:10001;
	background:#fff;
	border:1px #eee solid; 
	border-radius:5px;
	padding-top:10px;
	text-align:center;
	display:none;
}

#mostrarcom{
width:100%;
height:400px;
overflow-x:hidden;
overflow-y:auto;
background:#E5F4FF;
}
#buscar_afiliado{

font-family:"Courier New","agency fb", arial;
color: #fff;
font-weight:bold;
position: fixed;
left:0%;
top:50%;
z-index:100;
background:#ffffd5;
border:1px #efefef solid;
border-top-right-radius:5px;
border-bottom-right-radius:5px;
box-shadow:1px 2px 3px #C6B672;
width:45px;
}

#campoa{

font-family:"Courier New","agency fb", arial;
color: #4D5159;
position: fixed;
height:65px;
left:48px;
top:55%;
z-index:100000;
background:#fff;
border:1px #DED05E solid;
border-top-right-radius:5px;
border-bottom-right-radius:5px;
}

#comentario{

font-weight:bold;
font-family:"Courier New","agency fb", arial;
color: #fff;
position: fixed;
right:0%;
top:25%;
z-index:100;
background:#80CEE3;
border:1px #efefef solid;
border-top-left-radius:5px;
border-bottom-left-radius:5px;
}

#ncomen{
cursor:help;
font-size:10px;
color: black;
text-shadow:-1px 1px 6px #000;
font-weight:bold;
position:absolute;
top:3%;
left:25%;
font-family:"Comic Sans MS", arial;
}

#visita{
position:fixed;
right:0%;
top:0%;
z-index:10000;
color: #DED05E;
border-radius: 5px;
width:180px;
padding-top:14px;
}

#ncontactos{
cursor:help;
position:fixed;
right:0%;
top:0%;
z-index:10000;
color: black;
border-radius: 5px;
padding-top:1px;	
font-weight:bold;
font-size:10px;
font-family:'Courier New','agency fb', arial;
transition: 2s;
}
#ncontactos:hover{
color:#21201F;
background:#D2C759;
transition: 2s;
font-size:16px;	
}

.centro{
text-align:center;

}


.vis{
font-style: italic;
color: grey;
font-size: 14px; 
font-weight: bold;
}
.nvis{background:#fff;
border: 1px #dde8fb solid;
border-radius: 5px 5px 5px 5px;
font-size: 12px; 
font-weight: bold;
margin: 2px 2px 2px 2px;
color:#7B4F00;
}

.uno0{ padding:2px; font-family: "Comic Sans MS", "Consolas", "agency fb", arial; font-size:12px; background:#F7FFDE; color:#000; border:1px #E3D3A2 solid; font-weight:bold; border-radius:5px;}
.uno2{ padding:2px; font-family: "Comic Sans MS", "Consolas", "agency fb", arial; font-size:12px; background:#FFFFEA; color:#000; border:1px #E3D3A2 solid; font-weight:bold; border-radius:5px;}


.uno1{ transition:1s; padding:2px; font-family: "Comic Sans MS", "Consolas", "agency fb", arial; font-size:14px;cursor:help; background:#FFFFEA; color:#000; border:1px #E3D3A2 solid; font-weight:bold; border-radius:5px;}
.uno1:hover{cursor:pointer;transition:1s; border:1px #555 solid; box-shadow:-1px 1px 10px #D0CE5A; text-shadow:1px 2px 5px #FFF1A6; background:#C7BDAF; color:#6D0039;}



.uno{ transition:2s; padding:2px; font-family: "Comic Sans MS", "Consolas", "agency fb", arial; font-size:12px;cursor:help; background:#FFFFEA; color:#000; border:1px #E3D3A2 solid; font-weight:bold; border-radius:5px;}
.uno:hover{transition:1s; border:1px #555 solid; box-shadow:-1px 1px 10px black; text-shadow:1px 2px 5px #FFF1A6; background:#C7BDAF; color:#6D0039;}


.dos{ transition:1s; padding:2px; font-family: "Comic Sans MS", "Consolas", "agency fb", arial; font-size:12px;cursor:help; background:#fff; color:green; border:1px #E3D3A2 solid; font-weight:bold; border-radius:5px;}
.dos:hover{transition:1s; border:1px #555 solid; box-shadow:-1px 1px 10px #fff; text-shadow:1px 2px 5px #aaa; background:#ffffff; color:blue;}

.tres{ transition:1s; padding:2px; opacity:.8; font-family: "Comic Sans MS", "Consolas", "agency fb", arial; font-size:12px;cursor:help; background:#FFFFEA; color:green; border:1px #E3D3A2 solid; font-weight:bold; border-radius:5px;}
.tres:hover{transition:1s; border:1px #555 solid; box-shadow:-1px 1px 10px #000; text-shadow:1px 2px 5px #000; background:#008017; color:#ffffea;}

.mititulo4{ padding:2px; height:auto; font-family: "Comic Sans MS", "Consolas", "agency fb", arial; font-size:12px;cursor:help; background:#FFFFEA; color:green; border:1px #E3D3A2 solid; font-weight:bold; border-radius:5px;}

.cod_n2{font-family: "Comic Sans MS", "Consolas", "agency fb", arial; padding:2px; transition:2s; color:#4B1A06; background: #F7E5AF; font-weight:bold; border:1px solid #2e2e2e; font-size:12px; border-radius: 5px; cursor:pointer;}
.cod_n2:hover{ 
transition:1s;
box-shadow:-1px 1px 10px black;
background: #4B1A06;
text-shadow:1px 1px 7px white;
 color:white;
font-weight:bold;
padding:2px;
 font-size:12px; border-radius: 5px; cursor:pointer;
 }

 
.eboton{font-family: "Comic Sans MS", "Consolas", "agency fb", arial; padding:2px; transition:2s; color:#4B1A06; background: #D3E588; font-weight:bold; border:1px dashed #ccc; font-size:12px; border-radius: 50px; cursor:pointer;}
.eboton:hover{ 
transition:1s;
box-shadow:-1px 1px 10px black;
background: #F5F6FF;
text-shadow:1px 1px 7px white;
 color:#888;
font-weight:bold;
padding:2px;
border:5px #6A1D1C double;
 font-size:12px; border-radius:45px 5px 45px 5px; cursor:pointer;
 }
 
 
.texto{font-size: 12px; font-family: "Comic Sans MS", "Consolas", "agency fb", arial; font-weight:normal; color:#676767; }
.texto1{font-size: 10px; font-family: "Comic Sans MS", "Consolas", "agency fb", arial;font-weight:normal; color:#676767; }

.subred{
border:1px skyblue dashed;
border-radius:5px;
}

/*input{width:90%;  font-size:16px; border: 0px; border-bottom: 1px #85C3C3 dotted; color:#DED05E;  font-family:"Courier New","agency fb", arial;}*/
input,textarea, button{
width:90%;
border: 1px dotted #DBE1EB;
  font-size: 12px;
  font-family: Arial, Verdana;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(top, #fff, #f8f8f8, #fff);
  background: -moz-linear-gradient(top, #fff, #f8f8f8, #fff);
  background: -webkit-linear-gradient(top, #fff, #f8f8f8, #fff);
  background: -o-linear-gradient(top, #fff, #f8f8f8, #fff);
  color: #2E3133;
  font-family: "Comic Sans MS", "Consolas", "agency fb", arial;
}
button{
	transition:1s;
width:auto;
border: 1px dotted #DBE1EB;
  font-size: 12px;
  font-family: Arial, Verdana;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(top, #fff, #cecece, #fff);
  background: -moz-linear-gradient(top, #fff, #cecece, #fff);
  background: -webkit-linear-gradient(top, #fff, #cecece, #fff);
  background: -o-linear-gradient(top, #fff, #cecece, #fff);
  color: #2E3133;
  text-shadow:1px 2px 10px #fff;
  font-weight:bold;
  font-family: "Comic Sans MS", "Consolas", "agency fb", arial;
}


input:hover,textarea:hover{color: #2E3133;  border-color: #DED05E;}







select{
font-family: "Comic Sans MS", "Consolas", "agency fb", arial;
width:auto;
border: 1px dotted #DBE1EB;
  font-size: 12px;
  font-family: Arial, Verdana;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin:5px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(top, #fff, #f2f2f2, #fff);
  background: -moz-linear-gradient(top, #fff, #f2f2f2, #fff);
  background: -webkit-linear-gradient(top, #fff, #f2f2f2, #fff);
  background: -o-linear-gradient(top, #fff, #f2f2f2, #fff);
  color: #2E3133;
  
}
option{font-family: "Comic Sans MS", "Consolas", "agency fb", arial;
 background:#FFFFdf; color:#000; font-size:12px;
 }

select:hover>option{background:#fff;  
 color:#000;font-family: "Comic Sans MS", "Consolas", "agency fb", arial;

 }
select>option[disabled]{background:#efefef; color:grey;}





select{
color: #000;
font-weight:bold;
padding:8px;
margin:2px;
background:#fff;
border:1px #eee dotted;	
border-radius:6px;
}

input,textarea{
color: #000;
font-weight:bold;
padding:8px;
margin:2px;
background:#fff;
border:1px #eee dotted;	
border-radius:6px;
width:90%;
}




button{
color: #000;
font-weight:bold;
padding:10px;
margin:0px;
background:#fff;
border:1px #eee dotted;	
border-radius:6px;
}



.btn_green{transition:1s; border:1px #efefef solid; padding:3px; border-radius:6px;	background:#0D7600; color: #fff; cursor:pointer;}.btn_green:hover{background:#F0FFFF; color: #016400;}
.btn_red{transition:1s; border:1px #efefef solid; padding:3px;  border-radius:6px;background:#AE0115; color: #fff; cursor:no-drop;}.btn_red:hover{background:#FFEDEF; color: #AE0115;}
.btn_orange{transition:1s; border:1px #efefef solid; padding:3px;  border-radius:6px;background:#F77620; color: #fff; cursor:pointer;}.btn_orange:hover{background:#FFF4D5; color: #272727;}
.btn_yellow{transition:1s; border:1px #efefef solid; padding:3px;  border-radius:6px;background:#F0CD14; color: #222; cursor:pointer;}.btn_yellow:hover{background:#FFFFDC; color: #000;}
.btn_blue{transition:1s; border:1px #efefef solid; padding:3px;  border-radius:6px;background:#054786; color: #fff; cursor:pointer;}.btn_blue:hover{background:#F3FFFE; color: #054786;}
.btn_black{transition:1s; border:1px #c5c5c5 solid; padding:3px;  border-radius:6px;background:#323232; color: #fff; cursor:pointer;}.btn_black:hover{background:#EEEEEE; color: #000; }
.btn_white{transition:1s; border:1px #efefef solid; padding:3px;  border-radius:6px;background:#fff; color: #000; cursor:pointer;}.btn_white:hover{background:#EEEEEE; color: #323232;}
.btn_pink{transition:1s; border:1px #efefef solid; padding:3px;  border-radius:6px;background:pink; color: #000; cursor:pointer;}.btn_pink:hover{background:#fff; color: #323232;}
.btn_tinto{transition:1s; border:1px #efefef solid; padding:3px;  border-radius:6px;background:#6A1102; color: #fff; cursor:pointer;}.btn_tinto:hover{background:#FFD4D2; color: #323232;}
.btn_yellowf{transition:1s; border:1px #efefef solid; padding:3px;  border-radius:6px;background:#FBFFD1; color: #000; cursor:pointer;}.btn_yellowf:hover{background:#fbffee; color: #323232;}
.btn_yellowf1{transition:1s; border:1px #efefef solid; padding:3px;  border-radius:6px;background:#F9C519; color: #000; cursor:pointer;}.btn_yellowf1:hover{background:#fbffee; color: #323232;}
.btn_bluef{transition:1s; border:1px #efefef solid; padding:3px;  border-radius:6px;background:#00A5BF; color: #fff; cursor:pointer;}.btn_bluef:hover{background:#EBFFFF; color: #323232;}
.btn_greenf{transition:1s; border:1px #efefef solid; padding:3px;  border-radius:6px;background:#CFF050; color: #000; cursor:pointer;}.btn_greenf:hover{background:#D1E5E5; color: #323232;}
.btn_greyf{transition:1s; border:1px #efefef solid; padding:3px;  border-radius:6px;background:#B1B1B1; color: #fff; cursor:pointer;}.btn_greyf:hover{background:#EEEEEE; color: #000;}
.btn_grey{transition:1s; border:1px #efefef solid; padding:3px;  border-radius:6px; background:#ececec; color: #000; cursor:pointer;}.btn_grey:hover{background:#fbfbfb; color: #ccc;}
.btn_brown{transition:1s; border:1px #efefef solid; padding:3px;  border-radius:6px;background:#392B1C; color: #fff; cursor:pointer;}.btn_brown:hover{background:#EEEEEE; color: #000;}
.btn_black1{transition:1s; border:1px #efefef solid; padding:3px;  border-radius:6px;background:#eee; color: #000; cursor:pointer;}.btn_black1:hover{background:#A4A4A4; color: #fff;}


.btn_greenI{transition:1s; padding:1px; border:1px #efefef solid; border-radius:6px; background:#F0FFFF; color: #016400; cursor:pointer;}.btn_greenI:hover{background:#fff; color: #555;}
.btn_redI{transition:1s; padding:1px; border:1px #efefef solid; border-radius:6px; background:#FFEDEF; color: #AE0115; cursor:no-drop;}.btn_redI:hover{background:#fff; color: #555;}
.btn_whiteI{transition:1s; padding:1px; border:1px #efefef solid; border-radius:6px;background:#fff; color: #000; cursor:pointer;}.btn_whiteI:hover{background:#ddd; color: #323232;}
.btn_blueI{transition:1s; padding:1px; border:1px #efefef solid; border-radius:6px; background:#F3FFFE; color: #054786; cursor:pointer;}.btn_blueI:hover{background:#fff; color: #555;}
.btn_blackI{transition:1s; border:1px #efefef solid; padding:1px;  border-radius:6px;background:#323232; color: #fff; cursor:pointer;}.btn_blackI:hover{background:#EEEEEE; color: #000;}
.btn_greyI1{transition:1s; border:1px #efefef solid; padding:1px;  border-radius:6px;background:#B1B1B1; color: #fff; cursor:pointer;}.btn_greyI:hover{background:#EEEEEE; color: #000;}
.btn_brownI{transition:1s; border:1px #efefef solid; padding:1px;  border-radius:6px;background:#392B1C; color: #fff; cursor:pointer;}.btn_brownI:hover{background:#EEEEEE; color: #000;}
.btn_greyI{transition:1s; border:1px #efefef solid; padding:1px;  border-radius:6px; background:#ececec; color: #000; cursor:pointer;}.btn_greyI:hover{background:#fbfbfb; color: #ccc;}



.btn_greenC{transition:1s; padding:8px;  border:1px #efefef solid; border-radius:6px; background:#F0FFFF; color: #016400; cursor:pointer;}.btn_greenC:hover{background:#fff; color: #555;}
.btn_redC{transition:1s; padding:8px;  border:1px #efefef solid;  border-radius:6px; background:#FFEDEF; color: #AE0115; cursor:no-drop;}.btn_redC:hover{background:#fff; color: #555;}
.btn_whiteC{transition:1s; padding:8px;  border:1px #efefef solid; border-radius:6px; background:#fff; color: #000; cursor:pointer;}.btn_whiteC:hover{background:#EEEEEE; color: #323232;}
.btn_blueC{transition:1s; padding:8px;  border:1px #efefef solid; border-radius:6px; background:#DDF3FB; color: #054786; cursor:pointer;}.btn_blueC:hover{background:#fff; color: #555;}
.btn_greyC{transition:1s; border:1px #efefef solid; padding:8px;  border-radius:6px; background:#ececec; color: #000; cursor:pointer;}.btn_greyC:hover{background:#fbfbfb; color: #ccc;}
.btn_greenC1{transition:1s; border:1px #efefef solid; padding:8px;  border-radius:6px; background:#D4FFBB; color: #000; cursor:pointer;}.btn_greenC1:hover{background:#F0FFFF; color: #aaa;}
.btn_orangeC{transition:1s; border:1px #efefef solid; padding:8px;  border-radius:6px;background:#FFD298; color: #DC463D; cursor:pointer;}.btn_orangeC:hover{background:#FFF4D5; color: #272727;}
.btn_blackC{transition:1s; border:1px #efefef solid; padding:8px;  border-radius:6px; background:#ccc; color: #000; cursor:pointer;}.btn_blackC:hover{background:#f1f1f1; color: #555;}


.btn_bluefd{transition:1s; border:1px #efefef solid; padding:3px;  border-radius:6px;background:#054786; color: #fff; cursor:pointer;}
.btn_bluefd1{transition:1s; border:1px #efefef solid; padding:3px;  border-radius:6px;background:#054786; color: #fff; cursor:pointer;}

.bar_menu{padding:0px;  border:1px #efefef solid; border-radius:2px; background:#f5f5f5;}


td, th{border:none;}
/*button{border: 0px; height:100%;
border-radius: 6px;
color: #0C1966;
background: #fefefe;
text-shadow: 1px 0px 10px #000;
cursor:pointer;
}*/
button:hover{
	transition:1s;
	cursor:pointer;
color: #0C1966;
background: #efefef;
text-shadow: 1px 0px 10px #000;
font-family: "Comic Sans MS", "Consolas", "agency fb", arial;
}



.btn{
width:auto;
border: 1px dotted #DBE1EB;
  font-size: 12px;
  font-family: Arial, Verdana;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(top, #fff, #cecece, #fff);
  background: -moz-linear-gradient(top, #fff, #cecece, #fff);
  background: -webkit-linear-gradient(top, #fff, #cecece, #fff);
  background: -o-linear-gradient(top, #fff, #cecece, #fff);
  color: #2E3133;
  text-shadow:1px 2px 10px #fff;
  font-weight:bold;
  font-family: "Comic Sans MS", "Consolas", "agency fb", arial;
}

.btn1{
transition:2s;
cursor:pointer;
color: #0C1966;
background: #efefef;
text-shadow: 1px 0px 10px #000;
font-family: "Comic Sans MS", "Consolas", "agency fb", arial;
}






.cebra{background:#F3F6FF; border-radius:4px; font-weight:normal;} .cebra:hover{background:#D9DFF0; border:1px #000 solid; color:#1467A9;}
.cebra1{background:#fff; border-radius:4px; font-weight:normal;} .cebra1:hover{background:#efefee; border:1px #000 solid; color:#1467A9;}

#variosp{
display:none;
width:320px;
height:auto;
top:5%;
left:5%;
position:absolute;
background:#fff;
border-radius:5px;
border:1px #efefef solid;
z-index:10000;

}


#recuperar, #odamerca,#admin{
display:none;
width:320px;
height:auto;
top:15%;
left:35%;
position:fixed;
background:#fff;
border-radius:5px;
border:1px #efefef solid;
z-index:10000;
}
#estatus{
position: fixed;
left: 1%;
top: 0.5%;
width: 240px;
height: auto;
border: 1px grey solid;
border-radius: 6px;
background: #D7FF8F;
box-shadow: 1px 1px 10px #000;
z-index: 10000;
padding: 8px;
font-size: 12px;
text-align:left;
}

#gmas, #fb, #tw, #skype, #yt{
height:32px;
font-size:24px;
color: #DED05E;
font-weight:bold;
}


#vistainfo{
display:none;
z-index:10000;
position:fixed;
background:#fff;
width:80%;
left:10%;
top:5%;
border-radius:5px;
box-shadow:1px 1px 10px #000;
}

#infoc{

font-family:"agency fb", "arial";
width:96%;
height:400px;
overflow-x:hidden;
overflow-y:auto;
text-align:justify;
font-size:1em;
color:#DED05E;
margin-right:4px;
border-radius:3px;
}

#imginfo{
border:1px #DED05E dashed;
border-radius:15px;
box-shadow:1px 1px 10px white;
}



.vm{
color:blue;
cursor:pointer;
}.vm:hover{
color:grey;
}

#cpasado, #cpresente, #cfuturo{
height:64px;
font-size:12px;
color: #DED05E;
font-weight:bold;
}
.icono{
cursor:pointer;
width:20px; height:20px; text-align:right; opacity:.3; border-radius:5px;
}

.icono:hover{
width:25px; height:25px; opacity:.9;
}


.imagen{
cursor:help;
border-radius:5px;
border:1px #efefef dotted;
padding:2px;
}.imagen:hover{border:1px #DED05E solid; box-shadow:1px 1px 8px black;}

.imagenredes{
border-radius:5px;
border:1px #efefef dotted;
padding:1px;
}.imagenredes:hover{background:#fff; box-shadow:1px 1px 8px black; opacity:.7;  cursor:pointer;}

.detalle{display:none; }
.infost{cursor:help; background:#E1FF9D; border-radius:5px;}
.infost:hover>.detalle{
display:inline;  width:100%; 
 margin:2px;
}



.cero{font-family: "Comic Sans MS", "Consolas", "agency fb", arial; padding:2px; transition:2s; color:#feeeff; background: #980000; font-weight:bold; border:1px solid #2e2e2e; font-size:12px; border-radius: 5px; cursor:pointer;}
.cero:hover{ 
transition:1s;
box-shadow:-1px 1px 10px white;
background: #E1FF9D;
text-shadow:1px 1px 7px black;
 color:#4B1A06;
font-weight:bold;
padding:2px;
 font-size:12px; border-radius: 5px; cursor:pointer;
 }
.cero0{font-family: "Comic Sans MS", "Consolas", "agency fb", arial; padding:2px; transition:2s; color:#770000; background: #fff; font-weight:bold; border:1px solid #2e2e2e; font-size:12px; border-radius: 5px; cursor:pointer;}
.cero0:hover{ 
transition:1s;
box-shadow:-1px 1px 10px white;
background: #000;
text-shadow:1px 1px 7px black;
 color:#fefefe;
font-weight:bold;
padding:2px;
 font-size:12px; border-radius: 5px; cursor:pointer;
 }

.listas1{
font-weight:bold;
color: #8b722f;
text-shadow: 1px 0px 5px #BAE7FF;
}
.listas1:hover{
text-shadow: 1px 0px 10px #DED05E;
}

.listas{
color: #0C1966;
text-shadow: 1px 0px 10px #000;
}
 .listas:hover{
color: #741416;
background: #fefefe;
text-shadow: 1px 0px 10px #333;
}
#miperfil{
border:0px;
display:none;
position: absolute;
 z-index:90000002;
 top: 2%;
 left:15%;
 width: 400px;
border-radius:5px; 
height:320px;
 box-shadow:1px 1px 10px #DED05E;
}
#vista_perfil{
font-family: "Comic Sans MS", "Consolas", "agency fb", arial;
font-size:10px;
background:#fff;
border:6px #343400 solid;
border-radius:5px;
box-shadow:1px 2px 10px #000;
}
.cerrar_vista_perfil{
font-size:11px;
cursor:pointer;
background:#fff;
border:1px grey solid;
border-radius:5px;
}
.cerrar_vista_perfil:hover{
background:#9FC3FF;
border:1px red solid;
color:#000;
border-radius:5px;
}

ul{
margin-left: 5px;
list-style-type:none; 
padding: 4px;
}
li{margin-top: 5px; text-align:left;}
li:hover{ border-radius:5px;}

#imagencargar{
position: fixed;
left: 40%;
top: 35%;
width: 200px;
height: auto;
border: 1px grey solid;
border-radius: 6px;
background: #000;
box-shadow: 1px 1px 10px #000;
z-index: 10001;
display: none;
padding: 8px;
opacity:.8;
color:white;
font-weight:bold;
}

#barraplanilla{
height:48px;
width: 100%;
background: #DED05E;
position: fixed;
left: 0%;
top: 0%;
text-shadow: 1px 0px 10px #999;
z-index:1000;
font-size:11px;
text-align:center;
box-shadow:1px 0px 10px grey;
}

#imprimir{
position: fixed;
left: 1%;
top: 2%;
text-shadow: 1px 0px 10px #999;
z-index:1000;
font-size:11px;
cursor: pointer;
display: inline;
text-align:center;
}



#cortina{
position:fixed;
top:0%;
left:0%;
width:100%;
height:100%;
background:#000;
opacity:.6;
display:none;
z-index:9999;
}

 .legend{
font-family: "agency fb", arial;
font-size:20px;
color:#fff;
padding:4px;
font-weight:bold;
text-transform:uppercase;
text-shadow:1px 1px 10px #F7FFDE;
letter-spacing:4px;
box-shadow:1px 1px 10px #555;
border-radius:6px;
background:#312910;
border:2px #DED05E solid;

}

#cortina1{
position:fixed;
top:0%;
left:0%;
width:100%;
height:100%;
background:#000;
opacity:.6;
display:none;
z-index:9;
}

/*
#msn_ok{
position: fixed;
left: 2%;
top: 2%;
width: 180px;
height: auto;
border: 1px grey solid;
border-radius: 6px;
background: #D7FF8F;
box-shadow: 1px 1px 10px #000;
z-index: 100000;
display: none;
padding: 8px;
font-size: 12px;
}
#msn_ko{
font-size: 12px;
position: fixed;
left: 2%;
top: 2%;
width: 180px;
height: auto;
border: 1px #A25151 solid;
border-radius: 6px;
background: #FFDEE0;
box-shadow: 1px 1px 10px red;
z-index: 100000;
display: none;
padding: 8px;
}
*/



#mensaje_guardar,#mensaje_carga{
position: fixed;
left: 35%;
top: 25%;
width: 250px;
height: auto;
border: 1px grey solid;
border-radius: 6px;
background: #fff;
box-shadow: 1px 1px 10px #000;
z-index: 100000;
display:none;
padding: 8px;
font-family: "Comic Sans MS", "Consolas", "agency fb", arial;
font-size:12px;
}


#msn_ok{
position: fixed;
left: 2%;
top: 2%;
width: 180px;
height: auto;
border: 1px grey solid;
border-radius: 6px;
background: #D7FF8F;
box-shadow: 1px 1px 10px #000;
z-index: 100000;
display: none;
padding: 8px;
font-family: "Comic Sans MS", "Consolas", "agency fb", arial;
font-size:12px;
}

#msn_ko{
position: fixed;
left: 2%;
top: 2%;
width: 180px;
height: auto;
border: 1px #A25151 solid;
border-radius: 6px;
background: #FFDEE0;
box-shadow: 1px 1px 10px red;
z-index: 100000;
display: none;
padding: 8px;
font-family: "Comic Sans MS", "Consolas", "agency fb", arial;
font-size:12px;
}

.campo{
padding:2px;
color:#464646;
background:#fff;
width:180px;
height:auto;
font-size:12px;
text-align:center;
border-radius:6px;
border:1px #eee solid;
-moz-border-radius:6px;
text-shadow:0px 1px 10px #aeaeae;
}
.boton{
cursor:pointer;
padding:2px;
color:#000;
background:#FAEFBF;
width:35%;
height:auto;
font-size:12px;
text-align:center;

}
.boton1{
cursor:pointer;
padding:0px;
color:#fff;
background:#DED05E;
width:auto;
height:47.2px;
font-size:14px;
text-align:center;
text-shadow: 1px 2px 5px #000;
}

.boton:hover, .boton1:hover{
color:#fff;
background:#CFA931;
text-align:center;
text-shadow:0px 1px 5px #000;
box-shadow:1px 0px 10px #fff;
}

#ventanaacceso{
display:none;
position:absolute;
top:-7px;
z-index:1000;
width:300px;
}
.titulotabla{
padding:8px;
color:black;
background:#DED05E;
width:96%;
height:auto;
font-size:20px;
font-weight:bold;
text-align:center;
border-top-left-radius:6px;
border-top-right-radius:6px;
-moz-border-radius:6px;
text-shadow:1px 0px 20px #fff;
text-shadow:2px 5px 10px #000;
box-shadow:1px 0px 10px #aeaeae;
font-family: "Comic Sans MS", "Consolas", "agency fb", arial;
}

.titulotabla1{
padding:8px;
background:#F3F3F3;
color:#222;
width:96%;
height:auto;
font-size:20px;
font-weight:bold;
text-align:center;
border-top-left-radius:6px;
border-top-right-radius:6px;
-moz-border-radius:6px;
text-shadow:-2px 0px 5px #DED05E;
box-shadow:2px 5px 10px #000;
}


.titulotabla2{
padding:4px;
background:#DED05E;
color:#fff;
width:96%;
height:auto;
font-size:16px;
font-weight:bold;
text-align:center;
border-top-left-radius:6px;
border-top-right-radius:6px;
-moz-border-radius:6px;
text-shadow:2px 2px 8px black;

}

.parrafotabla{
padding:4px;
color:#000;
background:#fff;
width:96%;
height:auto;
font-size:12px;
font-weight:bold;
text-align:left;
border-bottom-left-radius:6px;
border-bottom-right-radius:6px;
text-shadow:1px 0px 20px #aeaeae;
box-shadow:0px 0px 0px #000;

}


.tabla1{
font-size:11px;
text-align:left;
width: 100%;
margin:0px;
background:#fff;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
border-left:0px grey solid;
 border-bottom:0px grey solid;
 border-right:0px grey solid;
 border-top:0px grey solid;
}

.tabla{
background:#fff;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
border-left:1px grey solid;
 border-bottom:1px grey solid;
 border-right:1px grey solid;
 border-top:0px grey solid;
}
.desc{
color:#000;
background:#fff;
width:50%;
height:auto;
font-size:12px;
font-weight:bold;
text-align:right;
border:0px;
border-radius:6px;
padding:2px;
}
.descriptor{
color:#fff;
background:#DED05E;
width:100%;
font-size:12px;
font-weight:bold;
text-align:center;
-moz-border-radius:6px;
text-shadow:1px 0px 20px #fff;
padding:0px;
border: 0px;
}

.descriptor1{
color:#fff;
background:#DED05E;
width:100%;
font-size:11px;
font-weight:bold;
text-align:center;
-moz-border-radius:6px;
text-shadow:1px 0px 20px #fff;
padding:0px;
border: 0px;
}

.tituloR{
margin: 0px;
padding:8px;
color:#000;
background: #9DCF37;
width:97.5%;

height:auto;
font-size:16px;
font-weight:bold;
text-align:center;
border-top-left-radius:4px;
border-top-right-radius:4px;
text-shadow:2px 5px 10px #000;
font-family: "Comic Sans MS", "Consolas", "agency fb", arial;
}

.titulo1{
margin: 0px;
padding:8px;
color:#000;
background: #DED15C;
width:100%;
height:auto;
font-size:16px;
font-weight:bold;
text-align:center;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-right-radius:8px;
border-bottom-left-radius:8px;
text-shadow:2px 5px 10px #000;
font-family: "Comic Sans MS", "Consolas", "agency fb", arial;
}
.titulo{
padding:8px;
color:#2e2e2e;
/*background:#051A6B;
background:#3C4F6E;*/
background:#DED05E;
width:80%;
height:auto;
font-size:20px;
font-weight:bold;
text-align:center;
border-top-left-radius:6px;
border-top-right-radius:6px;
-moz-border-radius:6px;
text-shadow:-2px 3px 6px #60501F;
box-shadow:2px 5px 10px #aeaeae;
}
.subtitulo{
padding:8px;
color:#000;
background:#ECF2FD;
width:80%;
height:auto;
font-size:20px;
font-weight:bold;
text-align:left;
border-top-left-radius:6px;
border-top-right-radius:6px;
-moz-border-radius:6px;
text-shadow:1px 0px 20px #0F236F;
box-shadow:2px 5px 10px #aeaeae;
}
.subtitulotabla{
padding:8px;
color:#BAE7FF;
background:#DED05E;
width:80%;
height:auto;
font-size:20px;
font-weight:bold;
text-align:left;
border-top-left-radius:5px;
border-top-right-radius:5px;
-moz-border-radius:5px;
text-shadow:1px 0px 20px #fff;
box-shadow:2px 5px 10px #aeaeae;
}
.subtitulotabla1{
padding:8px;
color:#fff;
background:#DED05E;
width:100%;
height:auto;
font-size:20px;
font-weight:bold;
text-align:left;
text-shadow:1px 0px 20px #fff;
box-shadow:2px 5px 10px #aeaeae;
}

.parrafo{
padding:8px;
color:#000;
background:#fff;
width:80%;
height:auto;
font-size:12px;
font-weight:bold;
text-align:justify;
border-bottom-left-radius:6px;
border-bottom-right-radius:6px;
text-shadow:1px 0px 20px #aeaeae;
box-shadow:0px 0px 0px #aeaeae;

}


.parrafo1{
padding:8px;
color:#000;
background:#fff;
width:80%;
height:auto;
font-size:12px;
font-weight:bold;
text-align:justify;
border-bottom-left-radius:6px;
border-bottom-right-radius:6px;
text-shadow:1px 0px 20px #aeaeae;
box-shadow:2px 5px 10px #aeaeae;

}
#cargandoimagen{
font-weight:bold;
border-radius:8px;
-moz-border-radius:6px;
background:#000;
opacity:.7;
color:white;
display:none;
position:fixed;
left:37%;
top:35%;
z-index:10001;
height:100px;
}

.anima{
display: none;
position:absolute;
left:0%;
top:0%;
z-index:5;
}

.hmng{
display: display;
position:absolute;
left:30%;
top:0%;
z-index:5;
width:60%;
}
#ip{
cursor:pointer;
width:100%;
height:100%;
display: none;
position:absolute;
left: 0%;
top:0%;
background:#bbb;
opacity:.8;
}

#vp{
position:absolute;
width:auto;
height:48px;
display: none;
right:3%;
}


.contenedor{
background:#fff;
width:90%;
height:1498px;
position:absolute;
left:5%;
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-left:1px #ddd solid;
border-right:1px #ddd solid;
border-bottom:1px #ddd solid;
border-top-left-radius:0px;
border-top-right-radius:0px;

text-shadow: 1px 0px 20px grey;
box-shadow:-1px 0px 1px #ccc;
}

.c1{/*membrete*/
position:absolute;
background:#fefefe;
width:100%;
left:0%;
top:0px;
border:0px;
text-shadow: 1px 0px 20px grey;
box-shadow:-1px 0px 1px #ccc;
}

.c2{/*menu*/
position:absolute;
width:100%;
height:40px;
left:0%;
top:208px;
border:0px;
text-shadow: 1px 0px 20px grey;
z-index:3;
}

.c3{/*enlaces*/
position:absolute;
background:#fefefe;
width:25%;
height:424px;
left:0%;
top:49px;
border:0px;
text-shadow: 1px 0px 20px grey;
box-shadow:-1px 0px 1px #ccc;
}

.c4{/*simulador*/
position:absolute;
background:#fefefe;
width:25%;
height:326px;
left:0%;
top:750px;
border:0px;
text-shadow: 1px 0px 20px grey;
box-shadow:-1px 0px 1px #ccc;
}

.c5{/*Efecto de imagenes*/
position:absolute;
background:#fefefe;
width:75%;
height:600px;
left:25%;
top:49px;
border:0px;
text-shadow: 1px 0px 20px grey;
box-shadow:-1px 0px 1px #ccc;
}

.c6{/*Informacion*/
position:absolute;
background:#fefefe;
width:75%;
height:993px;
left:25%;
top:405px;
border:0px;
text-shadow: 1px 0px 20px grey;
box-shadow:-1px 0px 1px #ccc;
}

.c7{/*twitter*/
position:absolute;
background:#fefefe;
width:24.6%;
height:400px;
left:0%;
top:1060px;
border:none;
text-shadow: 1px 0px 20px grey;
box-shadow:-1px 0px 1px #ccc;
}

.c8{/*Pie de pagina - informacion de la empresa*/
text-align:center;
font-size:11px;
color:#000;
position:absolute;
background:#ffffd5;
width:100%;
height:32px;
left:0%;
top:1400px;
border:0px;
text-shadow: 1px 0px 1px #DED05E;
box-shadow:-1px 0px 1px #ccc;
font-family:"Comic Sans MS", arial;
}

.espacio{/*Espacio Pie de pagina */
position:absolute;
height:45px;
left:0%;
top:1690px;
border:1px #E9EAED solid;
}



.mlateral{
width: 100%;
padding:5px;

}

.olateral{
border-radius: 1px;
border:1px #5777BB dotted;
font-size:14px;
width: 100%;
height: 39px;
color: #fff;
text-shadow: 1px 0px 10px #fff;
background: #DED05E;
text-align: center;
font-weight:bold;
cursor:pointer;
}
	

.olateral:hover{
height: 39px;
border-radius: 1px;
border:1px #5777BB inset;
color: black;
background: #fff;
box-shadow:0px 0px 10px #DED05E;
}

.olateralact{
font-style: italic;
border:1px #f5f5f5 dotted;
font-size:14px;
width: 100%;
height: 39px;
text-align: center;
font-weight:bold;
cursor:pointer;
color: #000;
background: #fff;
text-shadow: 1px 0px 10px #000;
box-shadow:0px 0px 10px #14274B;
}
