/*efectos checkbox*/
/**input[type=checkbox]*/
input[type=checkbox]
{

  /* Double-sized Checkboxes */
  -ms-transform: scale(3); /* IE */
  -moz-transform: scale(3); /* FF */
  -webkit-transform: scale(3); /* Safari and Chrome */
  -o-transform: scale(3); /* Opera */
  padding: 20px;
  margin-top:10px;
  margin-right:20px;

}

