body, table, div,  span, li{
font-family: "Comic Sans MS", "Consolas", "agency fb", arial;
font-size:12px;
}
 .legend{
font-family: "agency fb", arial;
font-size:20px;
color:#fff;
padding:4px;
font-weight:bold;
text-transform:uppercase;
text-shadow:1px 1px 10px #F7FFDE;
letter-spacing:4px;
box-shadow:1px 1px 10px #555;
border-radius:6px;
background:#312910;
border:2px #DED05E solid;

}
a{
text-decoration:none;	
}
#empresa{
	display:none;
	position:absolute;
	width:60%;
	height:auto;
	background:#efefef;
	border:1px grey solid;
	border-radius: 6px;
	left:20%;
	top:5%;
	z-index:10000;
	text-transform:uppercase;
	color:darkblue;
	padding:4px;
}

#upload_button:hover,#upload_button1:hover,#upload_button2:hover,#upload_button3:hover{
box-shadow:1px 1px 6px blue;
}
#cargaf{
	background:#fff;
	width:100%;
	height:220px;
	overflow-x:hidden;
	overflow-y:auto;
	border:1px #fafafa solid;

}



#tituloct{
	background:#000; 
	width:90%;
	display:none;
	}

#caja_carga,#caja_carga1{
	display:none;
}

#bandera,#bandera_nacion{
position:absolute;
padding-left:6px;
}

#confirmar{
display:none;
width:100%;
height:100%;
background:#fefefe;
position:fixed;
left:0%;
top:0%;
}
.otrotitulo{
padding:8px;
color:#eee;
background:#3A5795;
width:70%;
font-size:20px;
font-weight:bold;
text-align:center;
border-radius:6px;
-moz-border-radius:6px;
text-shadow:2px 5px 10px #000;
box-shadow:2px 5px 10px #aeaeae;
}


.btitulo{
width:95%;
height:25px;
background: #DFDFE1;
text-align:center;
font-weight:bold;
font-size:16px;
color: #3a5795;
text-shadow: 0px 1px 10px #3a5795; 

}
.items{
font-size:12px;
font-weight:bold;
text-align:left;
list-style:none;
width:90%;
border: 1px #eee solid;
border-radius:5px;
}

.resaltar:hover{
	color:#686868;
	text-shadow:1px 2px 6px #bbb;
}

#vista,#cuestionario{
display:none;
border-radius:5px;
background:#fff;
width:100%;
position:absolute;
left:0%;
top:8%;
z-index:20;
}


#plista1{
top:0;
position: absolute;
border:1px #efefef solid;
width: 30%;
height: auto;
background: white;
display: none;
}
#plistap,#plistai,#plistal{
 font-size: 10px;
 font-family: "Comic Sans MS", "Consolas", "agency fb", arial;
 margin-left:-12%;
 display:none;
 position: absolute;
 overflow-x: hidden;
 overflow-y: auto;
 width: 30%; 
 height: 150px;
 border: 1px #dfdfdf solid;
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
 
 background: #fdfdfd;}

.texto{font-size: 12px; font-family:  "Courier New","agency fb","arial", "tahoma"; font-weight:normal; color:#676767; }

#gd{float:left;display:none}
#gd1{float:left;}
#gd2{float:left;display:none}
#gd3{float:left;display:none}
#gd4{float:left;display:none}

.infotexto{
padding:4px;
border:1px #efefef solid; 
border-radius: 5px; 
box-shadow: 1px 0px 5px #000; 
display:none; 
width:20%; 
position:absolute; 
font-weight:normal;
font-size:11px;
background:#fff; 
color: #484B4D;}
.infoID{
cursor:help;
z-index:1000000;
}
.infoID:hover >.infotexto{
cursor:help;
display:inline;
position:absolute;
}



.seleccion:hover{
font-style: italic;
}
.descriptor{
color:#fff;
background:#3A5795;
width:100%;
font-size:14px;
font-weight:bold;
text-align:center;
border-top-left-radius:6px;
border-top-right-radius:6px;
-moz-border-radius:6px;
text-shadow:1px 0px 20px #fff;
padding:0;
border: 0px;
}

.parrafotabla1{
padding:8px;
color:#000;
background:#fff;
width:96%;
height:auto;
font-size:10px;
font-weight:bold;
text-align:left;
border-bottom-left-radius:6px;
border-bottom-right-radius:6px;
text-shadow:1px 0px 20px #aeaeae;
box-shadow:0px 0px 0px #000;

}

#cortinaF{
	background:#000;
	opacity:.7;
	width:100%;
	height:100%;
	position:fixed;
	top:0%;
	left:0%;
	display:none;
	z-index:10000;
	}
#mensajeF{
	border-radius:6px;
	background:#fff;
	width:50%;
	height:60%;
	position:fixed;
	top:20%;
	left:25%;
	display:none;
	z-index:10001;	
}
#mensajeF1{
	border-radius:6px;
	background:#fff;
	width:50%;
	height:150px;
	position:fixed;
	top:20%;
	left:25%;
	display:none;
	z-index:10001;	
}