/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(fuente_css/Montserrat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(fuente_css/inconsolata_lat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(fuente_css/OpenSansCondensed300.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'), local('OpenSans'), url(fuente_css/OpenSans.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;

  src: local('Raleway'), local('Raleway-Regular'), url(fuente_css/Raleway.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/*************************
*******Typography******
**************************/

body, div, section, span, ul, a, li, h1, h2, h3, h4, h5, h6, p, button, label  *{
  font-family: 'Inconsolata'; 

}

body{
	background:#EBF1DE;
}


@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.imgr{
    -webkit-animation: 3s rotate linear infinite;
    animation: 1s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}



.opc-hover{
	
}
.opc-hover:hover{
	background:#C7E0F8;
}

#notifica{
	position:absolute;
	right:10%;
	top:-15%;
	border:1px #ddd solid;
	box-shadow:1px 4px 1px #000;
	background:red;
	border-radius:7px;
	padding:6px;
	color:white;
	font-size:12px;
	font-weight:bold;
	width:32px;
	height:32px;
}




#cortina_blanca{
	position: absolute;
	left:0%;
	top:0%;
	background:#fff;
	z-index:1000;
	width:100%;
	height:100%;	
	display:none;
}

#salida_reporte{
	position: absolute;
	left:0%;
	top:0%;
	background:#fff;
	border:1px #ccc solid;
	z-index:1000;
	width:100%;
	height:90%;	
	display:none;
	font-size:10px;
}

#noti{
	position: fixed;
	right:2%;
	bottom:3%;
	background:#FEFcF0;
	border-radius:7px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border:1px #333 solid;
	border-bottom:none;
	z-index:100;
	width:260px;
	height:3.2%;
}
#noti #contenido{
	display:none;
	overflow-y:auto; overflow-x:hidden; height:85%;
}

.acceso{
	
	width:320px;
	
}

.ajuste{
	padding:0px
}

.alineal{
	text-align:left;
	font-size:24px;
	color:#5F6266;
}


.olvido{
	font-size:12px;
}


#entrar{
	width:auto:
}

.tabla{
	width:370px;
	height:320px;
	background:#fff;
	border-radius:45px;

}

.tabla-heading{
	font-size:12px;	
}

.img-ajuste{
	width:64px;
}


.elegir{
	background:blue;
}

.btn-loteria{
	transition:1s;
	width:100px;
	height:100px;
	border-radius:90px;
	font-size:9px;
	font-weight:bold;
	background:#E8EFF6;
}
.btn-loteria:hover{
	background:#fff;
	box-shadow: 1px 1px 1px black;
}


/*OPCIONES DEL MENU AJUSTES*/
.menu-ajustes{color:#46809C;}
.menu-ajustes:hover > .ajustes{
	display:inline;
	
}

.ajustes{
	transition:3s;
	list-style:none;
	display:none;
	position:absolute;
	margin-top:20px;
	margin-left:-10px;
	z-index:100;
}
.ajustes li{
		text-align:left;
		border-left:1px #eee solid;
		border-right:1px #eee solid;
		border-bottom:1px #fff solid;
		padding:6px;
		width:auto;
		background:#fff;
		list-style-position:outside;
		margin-left:-20px;
		cursor:pointer;
}
.ajustes li:hover{
		color:#697B85;
		border-bottom:1px #D9EDF7 solid;
		padding:6px;
		background:#f1f1f1;
		list-style-position:outside;
		margin-left:-20px;	
}

#cortina-interna{
	background:#000;
	opacity:.6;
	width:100%;
	height:100%;
	position:absolute;
	z-index:50;
	left:0%;
	top:0%;
	display:none;
}


.btn-black{
	background:black;
	color:white;
}
.btn-black:hover{
	background:#7f7f7f;
	color:white;
}

.blista{
	position:absolute;
	z-index:10;
	width:70px;
	left:-1px;
}



.checksorteo{
	width:16px;
	height:16px;
}

.otros-ajustes{
	float:left;
}

.peq{
	font-size:10px;
	font-weight:bold;
	color:grey;
}

.med{
	font-size:18px;
	font-weight:bold;
	color:darkblue;
}

#reloj{
	border:none;
	
}

/*panel - animales*/

.panel-animales{
	margin-top:-18px;
	position:absolute;
	left:0%;
	z-index:1;
	height:80%;
	width:35%;
	background:#F0F8FB;
	border:1px #fafafa solid;
	float:left;
}

/*panel - sorteos*/

.panel-sorteos{
	margin-top:-18px;
	position:absolute;
	left:35%;
	height:80%;
	width:30%;
	background:#fff;
	border:1px #fafafa solid;
	float:left;
}

/*panel - apuestas*/

.panel-apuestas{
	margin-top:-18px;
	position:absolute;
	left:65%;
	height:80%;
	width:35%;
	background:#fff;
	border:1px #fafafa solid;
	float:right;

}

.pie{
	border-top:#D9EDF7 1px solid;
	position:fixed;
	left:0%;
	bottom:0%;
	height:auto;
	width:100%;
	background:white;
	z-index:2;
}




.btn-numero{
width:44px;
height:40px;
margin:0px;
padding:2px;
border-radius:0px;
border:1px orange solid;
}

.btn-numero:hover{
opacity:0.5;
}

.img-resp{
	width:100%;
	border-radius:90px;
}

.marca{
	display:none;
	position:absolute;
	width:37px;
	height:37px;
}

.titulo{
	background:#D9EDF7;
	font-size:16px;
	font-weight:bold;
	color:blue;
}

.titulo1{
	background:#4684AD;
	font-size:14px;
	font-weight:bold;
	color:white;
}

.titulo2{
	background:#ECF2F6;
	font-size:14px;
	font-weight:bold;
	color:blue;
}
.gestion-ticket{
	background:#ECF2F6;
}
.gestion-ticket button{
	width:64px;
}

#cuerpo{
	width:100%;
}

@media only screen and (min-width: 1150px) {
.btn-numero{

width:60px;
height:44px;
margin:2px;
padding:2px;
}
.img-resp{
	width:80%;
}

#cuerpo{
	width:60%;
}

}
@media only screen and (min-width: 1200px) {
.btn-numero{

width:64px;
height:54px;
margin:2px;
padding:2px;
}
.img-resp{
	width:80%;
}
}

/*MODULO TRAER*/

#sorteoj{
	width:100%;
	height:400px;
	background:#fff;
}


 #sorteod{
	width:100%;
	height:400px;
	background:#F0F8FB;
}

#title{
	display:none;
	position:absolute;
	color:grey;
	border:1px #efefef solid;
	background:#fff;
	border-radius:8px;
	width:40%;
}


.cnum{
	width:100%;
	height:100%;
	font-weight:bold;
	font-size:26px;
}

.tabla{
	background:#DEE8F3;
}
