/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fuente_css/Montserrat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(../fuente_css/inconsolata_lat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(../fuente_css/OpenSansCondensed300.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'), local('OpenSans'), url(../fuente_css/OpenSans.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;

  src: local('Raleway'), local('Raleway-Regular'), url(../fuente_css/Raleway.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

a span{color: green;}
a span:hover{color: red;}


/*anchura de objeto (input, select, ... div, span, img..)*/
.wp{ width:64px;}
.wm{ width:128px;}
.wg{ width:256px;}
.wxg{ width:60%;}
/*altura de objeto (input, select, ... div, span, img..)*/
.hp{ height:16px;}
.hm{ height:32px;}
.hg{ height:64px; }
/*tamaño del texto en(input, select, ... div, span..)*/
.tp{ font-size:9.5px;}
.tm{ font-size:12px;}
.tg{ font-size:24px;}


/*barra titulos*/
.ttitulop{font-family:Raleway; width:100%; height:32px; font-weight:bold; text-align:center; background:#DED062; color:#003F00; font-size:12px;}
.ttitulom1{font-family:"OCR A Extended"; width:100%; height:48px; font-weight:bold; text-align:center; background:#FFF7C8; color:#003F00; font-size:12px;}
.ttitulom{font-family:Raleway; width:100%; height:48px; font-weight:bold;  text-align:center; background:#DED062; color:white; font-size:20px;}
.ttitulog{font-family:Raleway; width:100%; height:64px; font-weight:bold;  text-align:center; background:#383838; color:white; font-size:32px;}
/*alineacion de texto o (input, select, ... div, span..)*/
.tleft{  text-align:left;}
.tcenter{  text-align:center;}
.tright{  text-align:right;}
.tjustify{  text-align:justify;}
/*barra pie*/
.tpie{width:100%; height:auto; text-align:center; background:#E5E5E5; color:white; font-size:12px;}
/*formato de texto*/
.ftp{font-size:11px; font-family:"Stencil",Unpact,arial; color: #233D0E; font-weight:bold;}
.ftp1{font-size:11px; font-family:arial; color: #444; font-weight:bold;}
.ftp2{font-size:11px; font-family:arial; color: #888;}
.ftp3{font-size:10px; font-family:arial; color: #888;}
.ftm{font-size:18px; font-family:Unpact,arial; color: #233D0E; font-weight:bold;}
.ftm1{font-size:18px; font-family:Unpact,"OCR A Extended",arial; color: white; font-weight:bold; text-shadow: 2px 2px 2px black; background:#006400; border-radius:6px; padding:2px; }
.ftg{font-size:20px; font-family:"Stencil",Unpact,arial; color: #233D0E; font-weight:bold;}
.ftg1{font-size:20px; font-family:Unpact,"Stencil",arial; color: #372F16; font-weight:bold; text-shadow:1px 1px 3px #DED05E;}
.ftm2{font-size:18px; font-family:Unpact,"Stencil",arial; color: #372F16; font-weight:bold; text-shadow:1px 1px 3px #DED05E;}
.ftpb{font-size:11px; font-family:"comic sans ms",arial; color: white; font-weight:bold;}



/*Posicion del elemento*/
.pfixed{position:fixed; left:0%; top:0%;}
.pabsolute{position:absolute; left:0%; top:0%;}

#misubmenu{
	font-family:"comic sans ms","arial";
	font-weight:bold;
	width:100%;
	left:0%;
	top:0%;
	display:none;
	position: fixed;
	z-index:10002;
	background:#fff;
	color: black;	
 }

#mimenu{ width:auto; z-index:10000001;cursor:pointer;}
.dey.glyphicon:hover  {color:white;}
#mimenu:hover >#misubmenu{
	background:#fff;
	display:inline;
}
#misubmenu ol li{list-style:none; padding:4px;}
#misubmenu ol li:hover{background:#fbfbfb; color:green}


#v1,#v2,#v3,#v4{
	display:none;
	position:fixed;
	top:90px;
	height:400px;
	left:0%;
	width:100%;
	z-index:10005;
	background:#fefefe;
}

.imagen{
border-radius:5px;
border:1px #DFF0D8 dashed;	
background:white;
}


.dinamico{overflow-x:hidden; overflow-y:auto; height:330px;}


#gestion{
	display:none;
	background:#444444;
	position:fixed;
	width:100%;
	z-index:10001;
	left:0%;
	top:90px;
	border-radius:10px; 
}

#plan1,#plan2,#plan3{
	display:none;
	background:#fefefe;
}
