@import url(http://fonts.googleapis.com/css?family=Raleway);

#buscar{
color: #444444;
text-shadow:0px 1px 10px grey;
 border:1px #051A6B dotted;
 border-radius:5px;
 -moz-border-radius:5px;
 margin-top:4px;
 width:120px;
 height:28px;
 
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {

  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
	
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 1;
  height: 0;
}
#cssmenu {
  width: auto;
  font-family: Raleway, sans-serif;
  line-height: 1;
    padding: 0;

}
#cssmenu ul {

}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}

#cssmenu > ul > li > a {
font-family: "Comic Sans MS", "Consolas", "agency fb", arial;
  z-index: 2;
  padding: 20px 20px 10px 20px;
  font-size: 12px;
  text-decoration: none;
  color: #3C301C;
  font-weight:bold;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2 ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
text-shadow:-1px 1px 6px #000;
  color: #000;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 40px;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-border-top-left-radius: 8px;
   -webkit-border-top-right-radius: 8px;

  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {

  background: #EACD52;
  background: linear-gradient(top, #E3DD5D,  #FFFFA6, #5F592B);
  background: -moz-linear-gradient(top, #E3DD5D,  #FFFFA6, #5F592B);
  background: -webkit-linear-gradient(top, #E3DD5D,  #FFFFA6, #5F592B);
  background: -o-linear-gradient(top, #E3DD5D,  #FFFFA6, #5F592B);
}
