.yo{
background:#c8c8c8;
color:#fff;
border:2px dashed brown;
border-radius:180px;
width:60px;
height:60px;
}

.nvA{
background:#c8c8c8;
color:#fff;
border:2px dashed brown;
border-radius:180px;
width:60px;
height:60px;
}

.nvB{
background:#c8c8c8;
color:#fff;
border:2px dashed blue;
border-radius:180px;
width:60px;
height:60px;
}

.nvC{
background:#c8c8c8;
color:#fff;
border:2px dashed yellow;
border-radius:180px;
width:60px;
height:60px;
}

.nvD{
background:#c8c8c8;
color:#fff;
border:2px dashed green;
border-radius:180px;
width:60px;
height:60px;
}

.nvE{
background:#c8c8c8;
color:#fff;
border:2px dashed purple;
border-radius:180px;
width:60px;
height:60px;
}

.nvF{
background:#c8c8c8;
color:#fff;
border:2px dashed orange;
border-radius:180px;
width:60px;
height:60px;
}

