/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(fuente_css/Montserrat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(fuente_css/inconsolata_lat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(fuente_css/OpenSansCondensed300.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'), local('OpenSans'), url(fuente_css/OpenSans.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;

  src: local('Raleway'), local('Raleway-Regular'), url(fuente_css/Raleway.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/*************************
*******Typography******
**************************/

body, div, section, span, ul, a, li, h1, h2, h3, h4, h5, h6, p, button, label  *{
  font-family: 'Inconsolata'; 
  font-size:14px;
}


label{font-weight:bold;}
.text {
  font-size:28px;
  font-family:helvetica;
  font-weight:bold;
  color:#71d90b;
  text-transform:uppercase;
}
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}



#monto_bloqueo,#monto_libera{
	font-size:32px;
	font-weight:bold;
	
}


#popup {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.content-popup {
    margin:0px auto;
    margin-top:120px;
    position:relative;
    padding:10px;
    width:500px;
    min-height:250px;
    border-radius:4px;
    background-color:#FFFFFF;
    box-shadow: 0 2px 5px #777;
}

.content-popup h2 {
    color:#48484B;
    border-bottom: 1px solid #48484B;
    margin-top: 0;
    padding-bottom: 4px;
}

.popup-overlay {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    display:none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}

.close {
    position: absolute;
    right: 15px;
}


.font{
  font-family: 'Montserrat'; 	
}
.imgr{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
#imgr2 {
     -webkit-animation-direction: reverse;
     animation-direction: reverse;
}






.campana{
	-webkit-animation: tiembla 0.3s infinite;
}

@-webkit-keyframes tiembla{
	0%  { -webkit-transform:rotateZ(-5deg); }
	50% { -webkit-transform:rotateZ( 0deg) scale(.8); }
	100%{ -webkit-transform:rotateZ( 5deg); }
}




.cortina{
	position:absolute; display:none;  z-index:10; background:rgb(0, 0, 0); top:0%; left:0%; height:100%; width:100%; opacity:.5;
}



.tope{
	transition:1s;
	display:none;
	position:fixed;
	bottom:5%;
	right:5%;
	z-index:200000;
	font-size:48px;
	
	}
.tope_in{
	color:#D2C758;
	border-radius:45px;
	width:64px;
	height:64px;
	text-align:center;
	
}.tope_in:hover{
	color:#AA832A;
	box-shadow:0px 0px 8px white;
	background:rgba(200,200,200, 0.4);
}

.vporta{
	margin-top:-100px;
	text-transform:uppercase;
	color:black;
	font-weight:10;
	font-size:20px;
	font-family:'Montserrat';
	text-shadow:2px 0px 2px #79B343;
}

.cofre{
	font-weight:bold;
	color:black;
}

.btn-limpio{
	background:none;
	border:none;
}

  .texto{
	  color:#888;
	  font-style:italic;
	  font-size:16px;
  }
/*formulario metodo de pago*/
.titulo{
	font-size:24px;
	font-weight:bold;
}
#ccodp{display:none;}
.metodo-dt{display:block;}

.miinfo li{ font-size:12px;}
#ver_perfil{
	position:absolute;
	transition:1s;
	background:#fff;
	color:black;
	border-radius:6px;
	display:none;
	width:80%;
	left:10%;
	top:5%;
	border:1px #aaa solid;
	border-bottom:4px #D2C758 solid;
	z-index:1000;
}

.sel-add{
	margin-top:-6px; 
	margin-bottom:-6px; 
	margin-right:-10px; 
	margin-left:-14px; 
	height:32px; 
	border-top-left-radius:5px; 
	border-bottom-left-radius:5px;
}
.inp-add{
	border-top-right-radius:5px; 
	border-bottom-right-radius:5px;	
}



#contrato{
	 width:100%;
	 height:360px;
}

#plan1{padding:0px;}

.cuerpoP{
	margin-left:1px;
	margin-right:1px;
}
.cuerpo{
	padding:2px;
}
.imagenes{
border-radius:5px;
border:1px #DFF0D8 dashed;	
background:rgba(255,255,255,0.4);
}



.refrescar{
	color:grey;
}
.refrescar:hover{
	color:green;
}

.ohover{transition:1s; color:#aaa;}
.ohover:hover{
	cursor:pointer;
	background:#3A4448;
	color:#3B5998;
}
.link{
background:none;
border:none;
color:#aaa;
padding:12px;
}
.link:hover{
	color:white;
}

.link1{
background:none;
border:none;
color:#000946;
padding:12px;
}
.link1:hover{
	color:#444;
}

#cortina_interna{
	display:none;
	position:absolute;
	z-index:20;
	width:100%;
	height:100%;
	background:#000;
	opacity:.6;
	left:0%;
	top:0%;
}

#mensaje_cortina{
	display:none;
	position:absolute;
	z-index:21;
	width:30%;
	height:auto;
	background:#fff;
	left:35%;
	top:30%;
	text-align:center;
	border-radius:10px;
	font-size:14px;
	font-weight:bold;
	border:4px #3B5998 double;
}



.chat{
	
	position:fixed;
	width:400px;
	font-size:16px;
	color:blue;
	z-index:1000;
	bottom:0%;
	right:2px;
	background:#fefefe;
	border:1px grey solid;
	border-bottom:0px grey solid;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	
}










/*slider*/
.onoffswitch {
    position: relative; width: 160px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 42px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.7s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 35px; padding: 0; line-height: 35px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "AUTOMATICO";
    padding-left: 4px;
    background-color: #318726; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "MANUAL";
    padding-right: 24px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 8.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 120px;
    border: 2px solid #999999; border-radius: 42px;
    transition: all 0.7s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}