

label{font-weight:bold;}




#cuerpoinfo{

	height:200px;
	width:90%;
}	
	
	
#ganancias{
	background:#A5C445;
	color:white;
	font-size:18px;
	font-weight:bold;
}


#detalles{
	display:none;
	position:absolute;
	z-index:8;
	width:90%;
	height:auto;
	left:5%;
	top:40px;
	background:#fff;
}


#cortina{
	display:none;
	position:fixed;
	z-index:5;
	width:100%;
	height:100%;
	left:0%;
	top:0%;
	background:#000;
	opacity:.6;	
}



